@media (max-width:600px){

    body {
        overflow-x: hidden;
        
    }

   .products{
       display: inherit;
       height: auto;
   }

   .product {
       margin-top: auto ;
   }

   .main_section {
       padding: 4%;
   }

   .box_center {
    display: inherit;
    text-align: center;
   }

   .mentions {
       display: inherit;
   }

} 
@media (max-width:900px){

    body {
        overflow-x: hidden;
        
    }

   .products{
       display: inherit;
       height: auto;
   }

   .product {
       margin-top: auto ;
   }

   .main_section {
       padding: 4%;
   }

   .box_center {
    display: inherit;
    text-align: center;
   }

   .mentions {
       display: inherit;
   }

} 